blob-store
compile-cache
dev
storage
.apm
.node-gyp
.npm
.atom-socket-secret-*
/config.cson
/github.cson
/keymap.cson
/linter-config.json
/package-lock.json
/packages
/node_modules
/recovery
/projects.cson
