div.terminal {
  // fix a bug where atom-ide stylesheets get so aggressive they override their
  // own settings 👍
  font-family: inherit;
}

.console .output-container {
  // fix the build-tools pane font
  font-family: PragmataPro;
}

atom-text-editor.editor {
  -webkit-font-feature-settings: "liga" off, "calt" off;
}
