@import "ui-variables";

div.terminal {
  // Fix a bug where atom-ide stylesheets get so aggressive they override their
  // own settings. 👍
  font-family: inherit;
}

// Disable font ligatures.

atom-text-editor.editor {
  -webkit-font-feature-settings: "liga" off, "calt" off;
}

// Tune pane-titles to be more subtle.

.pane-info {
  background: @tab-background-color;
  color: @text-color-highlight;
}

.pane-info.active {
  // background: @background-color-selected;
  background: #960051;
  // color: @text-color-selected;
  color: white;
}

// Tweak material dark theme to only highlight gutter on current line.

atom-text-editor .cursor-line {
  background: none;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: #111;
  color: #aaa;
}
